@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Pick Ups</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            Address
        </th>
        <th>
            Extra Pick Up Date
        </th>
        <th>
            Cost of pick up
        </th>
        <th>
            Day Of Regular PickUP
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.StreetNumber)
            @Html.DisplayFor(modelItem => item.Address.StreetName)
            @Html.DisplayFor(modelItem => item.Address.City)
            @Html.DisplayFor(modelItem => item.Address.State)
            @Html.DisplayFor(modelItem => item.Address.Zipcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUps.PickUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUps.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUps.DayOfWeek)
        </td>
        <td>
            @Html.ActionLink("Pick up", "PickUp", new {id=item.PickUps.PickUpId} )
            @Html.ActionLink("Edit", "Edit", new { id = item.PickUps.PickUpId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PickUps.PickUpId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PickUps.PickUpId })
        </td>
    </tr>
}

</table>
