@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Pick Ups</h2>
@using System.Web.UI.WebControls;
@{var listDayOfWeek = new List<ListItem>
{
new ListItem { Text = "Monday", Value= "Monday" },
new ListItem { Text = "Tuesday", Value= "Tuesday" },
new ListItem { Text = "Wednesday", Value= "Wednesday" },
new ListItem { Text = "Thursday", Value= "Thursday" },
new ListItem { Text = "Friday", Value= "Friday" },
new ListItem { Text = "Saturday", Value= "Saturday" },
new ListItem { Text = "Sunday", Value= "Sunday" }
};
}
<p>
    @Html.ActionLink("Create New", "Create")
    Filter Pick Ups By Day
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            @Html.Label("Day Of Week", new { @class = "col-md-2 control-label" })
            <div class="col-md-1">
                @*@Html.DropDownList("Name")*@
                @Html.DropDownList("filterDay", new SelectList(listDayOfWeek, "Value", "Text"))
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Filtered" />
                </div>
            </div>
            </div>
    }
    </p>
<table class="table">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            Address
        </th>
        <th>
            Extra Pick Up Date
        </th>
        <th>
            Cost of pick up
        </th>
        <th>
            Day Of Regular PickUP
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetNumber)
                @Html.DisplayFor(modelItem => item.Address.StreetName)
                @Html.DisplayFor(modelItem => item.Address.City)
                @Html.DisplayFor(modelItem => item.Address.State)
                @Html.DisplayFor(modelItem => item.Address.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUps.PickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUps.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUps.DayOfWeek)
            </td>
            <td>
                @Html.ActionLink("Pick up", "Delete", new { id = item.PickUps.PickUpId })
                |
                @Html.ActionLink("Details", "Details","Customers", new { id = item.Id })
            </td>
        </tr>
    }

</table>
